.navbar {
    background-color: rgb(73, 54, 54);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}
.logo {
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-link{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-link li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 5%;
}
.nav-link li a:hover {
    color: antiquewhite;
    text-decoration: underline;
    padding: 4px 4px;
}
.logo:hover {
    color: rgb(0, 0, 0);
    text-decoration: solid;
}

.jumbotron {
    background-color: rgb(253, 224, 161);
    margin-top: 10px;
    color: rgb(251, 251, 251);
    height: 40vh;
    padding: 1px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wadah{
    max-width: 1200px;
    margin: 0;
    padding: 0 16px;
}
.wadah{
    padding: 0 16px;
}

.bagian-baru{
    padding: 60px;
    background: blanchedalmond;
}

.new-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    align-items: starts;
}

.card-img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;

}
.card-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.card{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: rgb(144, 156, 125);
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(16, 24, 40, 0.06);
    height: 100%;
    overflow: hidden;
}
.card:hover {
    transform: translateY(-7px       );
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.footer-selection h3 {
    margin-bottom: 10px;
    color: #fafafa;

}

.footer-section p 
.footer-section li{
    margin: 5px 0;
    font-size: 16px;
    color: #ccc;
}
.footer-section ul{
    list-style: none;
    padding: 0;
}
.footer-section a{
    text-decoration: none;
    color: #fdfdfd;
}
.footer-section a:hover{
    color: aqua;
}
.footer-bottom{
    color: #ccc;
}